body {
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  background-color: #000000;
}

.disabled{
	opacity: 0.3;
}

h1 {
  padding: 20px;
  text-align: center;
  font-size: 50px;
  color: #ffffff;
}

.btn {
  padding: 15px;
  margin: 25px;
  font-size: 15px;
  border-radius: 5px;
  background-color: #000000;
  color: #0000ff;
  border: 1px solid #0000ff;
}

.btn:hover {
  color: #000000;
  background-color: #0000cf;
}
.right {
  float: right;
}

#bars {
  padding-top: 50px;
  text-align: center;
}

.bar {
  background-color: yellow;
  display: inline-block;
  margin: 2px;
  padding: 2px;
  width: 2px;

}

.label {
  color: white;
  font-size: 18px;
}
